# Exclude snapshot related files
snapshots/
*.tar
*.tar.gz
*.zip

# Exclude private keys
**/id_ed25519
**/id_rsa
keys/
ansible/id_ed25519

# Exclude local configs/logs
/tmp/
*.log
.DS_Store
Thumbs.db

# Exclude binaries
kubectl.exe

# Python cache
__pycache__/
*.pyc
